.Home {
    color: #9CA092;
}

.Menu {
    color: white;
}

.Booking {
    color: #9CA092;
}

/*///////////////////////////////////////////////////////////*/

.MainMenu {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    min-width: 150px;
    margin-top: 7vh;
}

.Sector {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    min-width: 300px;
    height: fit-content;
    align-self: baseline;
    margin-bottom: 10px;
}

.SectorName {
    text-align: center;
    font-size: 2vw;
    color: #cc9900;
}

.Decor {
    width: 50%;
}

.dish {
    display: flex;
    margin-top: 2vw;
    flex-flow: row wrap;
    width: 80%;
    max-width: 40vw;
}

.NP {
    font-family: 'Yeseva One', cursive;
    display: flex;
    font-size: 1.5vw;
    color: #cc9900;
    width: 100%;
}

.Price{
    width: 50%;
    text-align: right;
}

.Name{
    text-align: left;      
    width: 50%;
}

.Resipe {
    border-top: 2px solid #cc9900;
    margin-top: 1vw;
    font-size: 1.3vw;
    color: white;
    width: 100%;
}

/*///////////////////////////////////////////////////////////*/

@media (max-width: 480px) {
    .information {
        height: 40vw;
    }

    .decor {
        width: 60%;

    }

    .dish{
        margin-top: 2vw;
        max-width: none;
    }

    .SectorName {
        font-size: 5vw;
    }

    .Sector {
        margin: 1vw;
    }

    .NP {
        font-size: 4vw;   
    }
  
    .Decor {
        width: 50%;
    }

    .Resipe {
        border-top: 1px solid #cc9900;
        margin-top: 2vw;
        font-size: 3vw;
    }
}

@media (max-width: 1080px) {
    .Resipe {
        border-top: 1px solid #cc9900;
        
    }
}