.Home {
    color: white;
}

.Menu {
    color: #9CA092;
}

.Booking {
    color: #9CA092;
}

.Statistics {
    color: #9CA092;
}

/* ////////////////////////////////////////////////////// */

.MainSection {
    display: flex;
    flex-flow: column;
    text-align: center;
    height: 50vw;
    min-height: 500px;
    align-items: center;
    justify-content: center;
}

.Navigation {
    min-width: 400px;
    min-height: 30px;
    height: auto;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .Navigation button:first-child {
    margin-bottom: 20px;
  }

.Text {
    color: white;
    display: flex;
    font-size: 7vw;
}

.itemDec1 {
    display: flex;
    min-width: 300px;
    width: 30%;
    justify-content: center;
}

.decor1 {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
  }

.seeMenu {
    min-width: 150px;
    min-height: 50px;
    width: 13vw;
    height: 4vw;
    color: white;
    font-family: 'Lato', sans-serif;
    border: solid 1px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.56);
}

.seeMenu:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.seeBooking {
    min-width: 150px;
    min-height: 50px;
    width: 13vw;
    color: white;
    height: 4vw;
    border: solid 1px white;
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: rgba(255, 255, 255, 0.196);
}

.seeBooking:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

/* ////////////////////////////////////////////////////// */

@media (max-width: 480px) {
    .Text {
        font-size: 9vw;
    }

    .decor {
        width: 60%;

    }
}