body {
    display: flex;
    flex-flow: column;
    margin: 0px;
    background: #2d1b08;
    background: -webkit-linear-gradient(to right, #621432, #2a4b7f, #2d1b08);
    background: linear-gradient(to right, #621432, #2a4b7f, #2d1b08);
}

.MainNavigation {
    position: fixed;
    /*font-family: 'Jost', sans-serif;*/
    font-family: 'Yeseva One', serif;
    display: flex;
    justify-content: center;
    background-color: #292E49;
    height: 7vh;
    flex-flow: row;
    top: 0;
    width: 100%;
    z-index: 1;
}

.CafeName {
    flex: 1;
    padding: 0px;
    margin: 0px;
    align-items: center;
    margin-left: 0%;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3vh;
}

.NavigationBar {
    flex: 3;
    font-family: 'Yeseva One', serif;
    display: flex;
    align-content: right;
    justify-content: space-around;
    margin-left: auto;
}

.Home {
    font-family: 'Yeseva One', serif;
    font-size: 150%;
    background: none;
    border: none;
}

.Home:hover {
    cursor: pointer;
    border-top: 3px solid white;
}

.Menu {
    font-family: 'Yeseva One', serif;
    font-size: 150%;
    background: none;
    border: none;
}

.Menu:hover {
    cursor: pointer;
    border-top: 3px solid white;
}

.Booking {
    font-family: 'Yeseva One', serif;
    font-size: 150%;
    background: none;
    border: none;
}

.Booking:hover {
    cursor: pointer;
    border-top: 3px solid white;
}

.Statistics {
    font-family: 'Yeseva One', serif;
    font-size: 150%;
    background: none;
    border: none;
}

.Statistics:hover {
    cursor: pointer;
    border-top: 3px solid white;
}

@media(max-height: 400px) {
    .MainNav {
        height: 15vh;
    }
    .CafeName {
        font-size: 4vw;
    }
}

